<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href="http://www.railstutorial.org/" target = "_blank" rel="noopener"><em>Ruby on Rails
  Tutorial</em></a> is a
  <a href="http://www.railstutorial.org/book" target = "_blank" rel="noopener">book</a> and
  <a href="http://screencasts.railstutorial.org/" target = "_blank" rel="noopener">screencast series</a>
  to teach web development with
  <a href="http://rubyonrails.org/" target = "_blank" rel="noopener">Ruby on Rails</a>.
  This is the sample application for the tutorial.
</p>