<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/" rel="noopener">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/" rel="noopener">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/" target = "_blank" rel="noopener">News</a></li>
    </ul>
  </nav>
</footer>